header{
  padding: 0 30px;
  height: 80px;
  width: 100%;
    .header-left, .header-right {
      float: left;
      width: 50%;
      height: 100%;
    }
    .header-left {
        img {
          height: 60px;
          margin-top: 10px;
        }
    }
    .header-right {
      ul {
        list-style: none;
        text-align: right;
        line-height: 80px;
        li {
          display: inline-block;
          margin-left: 20px;
          font-size: 16px;


          a {
            padding-bottom: 10px;
            text-decoration: none;
            color: #1B3C59;
            text-transform: uppercase;
          }
          &.active {
            a {
              border-bottom: 2px solid #61CE4E;
            }
          }
        }
      }
    }
}
